title {
    text-decoration-color: black;
    text-align: center;
}

.background {
    position: relative;
    text-align: center;
    color: black;
    font-size: 24px;
}

.center {
    text-align: center;
    color: white;
}

p {
    color: black;
    text-align: center;
    font-size: 24px;
    color: white;
}
 

